<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <body>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="container">

      <form method="post" action="{% url 'login' %}" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputUsername" class="sr-only">{{ form.username.label_tag }}</label>
        <input type="username" id="{{ form.username }}" class="form-control" placeholder="Username" required autofocus>

        <label for="inputPassword" class="sr-only">{{ form.password.label_tag }}</label>
        <input type="password" id="{{ form.password }}" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" value ="login">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      {# Assumes you setup the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
  </body>
</html>
