<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>jsGrid - Basic and OData hybrid with my data</title>
    <link rel="stylesheet" type="text/css" href="{% static "jsgrid-1.5.3/demos/demos.css" %}"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static "jsgrid-1.5.3/css/jsgrid.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "jsgrid-1.5.3/css/theme.css" %}"/>

    <script src="{% static "jsgrid-1.5.3/external/jquery/jquery-1.8.3.js" %}"></script>
    <!--script src="{% static "jsgrid-1.5.3/demos/db.js" %}"></script-->

    <script src="{% static "jsgrid-1.5.3/src/jsgrid.core.js" %}"></script>
    <script src="{% static "jsgrid-1.5.3/src/jsgrid.load-indicator.js" %}"></script>
    <script src="{% static "jsgrid-1.5.3/src/jsgrid.load-strategies.js" %}"></script>
    <script src="{% static "jsgrid-1.5.3/src/jsgrid.sort-strategies.js" %}"></script>
    <script src="{% static "jsgrid-1.5.3/src/jsgrid.field.js" %}"></script>
    <script src="{% static "jsgrid-1.5.3/src/fields/jsgrid.field.text.js" %}"></script>
    <script src="{% static "jsgrid-1.5.3/src/fields/jsgrid.field.textarea.js" %}"></script>
    <script src="{% static "jsgrid-1.5.3/src/fields/jsgrid.field.number.js" %}"></script>
    <script src="{% static "jsgrid-1.5.3/src/fields/jsgrid.field.select.js" %}"></script>
    <script src="{% static "jsgrid-1.5.3/src/fields/jsgrid.field.checkbox.js" %}"></script>
    <script src="{% static "jsgrid-1.5.3/src/fields/jsgrid.field.control.js" %}"></script>
</head>
<body>
    <h1>Basic and OData hybrid with my data</h1>
    <div id="jsGrid"></div>

      <script>
        console.log("entering script");
          $(function() {
              //$("#jsGrid") refrences the <div> above
              console.log("entering function")
              $("#jsGrid").jsGrid({

                  onItemUpdating: function(args){
                    previousItem = args.previousItem;
                  },

                  height: "100%",
                  width: "100%",
                  filtering: true,
                  editing: true,
                  inserting: true,
                  sorting: true,
                  paging: true,
                  autoload: true,
                  pageSize: 15,
                  pageButtonCount: 5,
                  deleteConfirm: "Do you really want to delete the client?",
                  insertRowLocation: "top",

                  fields: [
                      { type: "control" },
                      { name: "mbol", type: "text", width: 100 },
                      { name: "hbol", type: "text", width: 100 },
                      { name: "carrier", type: "text", width: 100 },
                      { name: "vessel", type: "text", width: 100 },
                      { name: "container", type: "text", width: 100 },
                      { name: "pol", type: "text", width: 100 },
                      { name: "vessel_departure", type: "text", width: 100 },
                      { name: "destination", type: "text", width: 100 },
                      { name: "vessel_arrival", type: "text", width: 100 },
                  ],

                  controller: {

                    loadData: function(){
                        var d = $.Deferred();
                        $.ajax({
                          url: 'myLoadData02',
                          type: 'GET',
                          contentType : "application/json; charset=utf-8",
                          dataType: 'json',
                        }).done(function(response){
                          console.log("load response", response)
                          d.resolve(response);
                        }).fail(function(response){
                          console.log("Load failed", response)
                          d.reject();
                        });
                        return d.promise();
                    },

                    insertItem: function(item){
                      var d = $.Deferred();
                      console.log("insertItem data", item);
                      $.ajax({
                        url: 'myLoadData02',
                        type: 'POST',
                        contentType : "application/json; charset=utf-8",
                        dataType: 'json',
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        data: JSON.stringify(item), //returns { pk: 25, mbol: "ZIMUBKK8004895", container: "TEMU7247488" }
                      }).done(function(response){
                        console.log("insert response", response)
                        d.resolve(response);
                      }).fail(function(response){
                        console.log("Insert failed response", response.responseText)
                        d.reject();
                      });
                      return d.promise();
                    },

                    updateItem: function(item){
                      console.log("previousItem", previousItem);
                      var d = $.Deferred();
                      var thisPK = item["pk"] //need to get the pk to pass with the PUT request
                      console.log("thisPK is now ", thisPK)
                      console.log("updateItem data", item);
                      $.ajax({
                        url: 'myUpdateData02/' + thisPK,
                        type: 'PUT',
                        data: JSON.stringify(item), //returns { pk: 25, mbol: "ZIMUBKK8004895", container: "TEMU7247488" }
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                      }).done(function(response){
                        console.log("update response", response)
                        d.resolve(response);
                      }).fail(function(response){
                        console.log("Update failed response", response.responseText)
                        d.resolve(previousItem);
                      });
                      return d.promise();
                    },

                    deleteItem: function(item){
                        var d = $.Deferred();
                        var thisPK = item["pk"] //need to get the pk to pass with the DELETE request
                        console.log("thisPK is now ", thisPK)
                        console.log("updateItem data", item);
                        $.ajax({
                          url: 'myUpdateData02/' + thisPK,
                          type: 'DELETE',
                          data: JSON.stringify(item), //returns { pk: 25, mbol: "ZIMUBKK8004895", container: "TEMU7247488" }
                          headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        }).done(function(response){
                          console.log("update response", response)
                          d.resolve(response);
                        }).fail(function(response){
                          console.log("Update failed response", response.responseText)
                          d.resolve(previousItem);
                        });
                        return d.promise();
                      },

                  },
              });
          });
      </script>
</body>
</html>
